.sub {
    color: #2079c7;
    font-style: normal;
    font-weight: 700;
    size: 12px;
    font-family: "Times New Roman", "gill sans", "Open sans"
}
.con {
    color: black;
    font-style: normal;
    font-weight: 700;
    size: 15px;
}